<div class="d-block d-sm-none sticky-top border-bottom" id="small-screen-header" style="background-color: #fff; height: 40px; width: 430px;">
    {% if is_granted('ROLE_USER') %}
        <div class="dropdown">
            <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown" id="small-screen-dropdown">
                <i class="fa-solid fa-bars"></i>
            </a>
            <div class="dropdown-menu mt-1" id="dropdown">
                <a href="{{ path('app_main') }}" class="dropdown-item" disabled>Homepage</a>
                <a href="{{ path('displayAllStudents') }}" class="dropdown-item" disabled>Student Index</a>
                <a href="{{ path('new_student') }}" class="dropdown-item" disabled>New Student</a>
                <a href="{{ path('app_chart') }}" class="dropdown-item" disabled>Dashboard</a>
                <a href="{{ path('app_logout') }}" class="dropdown-item border-top" disabled>Logout</a>
            </div>
        </div>
    {% else %}
    <div class="dropdown">
        <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown" id="small-screen-dropdown">
            <i class="fa-solid fa-bars"></i>
        </a>
        <div class="dropdown-menu mt-1" id="dropdown">
            <a href="{{ path('app_login') }}" class="dropdown-item">Log In</a>
            <a href="{{ path('sign-up') }}" class="dropdown-item">Sign Up</a>
        </div>
    </div>
    {% endif %}
</div>

<div class="w-100 d-flex border-bottom sticky-top d-lg-flex d-none" id="header-container" style="background-color: #fff; height: 40px">
        {% if is_granted('ROLE_USER') %}
    <a href="/"><i class="fa-solid fa-house" style="color: var(--selma-blue)"></i></a>
    <nav class="header mx-auto d-flex flex-row justify-content-lg-between h-25" id="header">
        <div id="left-side-header" class="ms-3 d-flex flex-row mt-3 justify-content-center">
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="btn1">
                    <i class="fa-solid fa-align-center"></i> Curriculum
                </a>
                <div class="dropdown-menu mt-2" id="dropdown">
                    <a href="#" class="dropdown-item" disabled>Curriculum Index</a>
                    <a href="#" class="dropdown-item" disabled>New Programme</a>
                    <a href="#" class="dropdown-item" disabled>New Component</a>
                    <a href="#" class="dropdown-item" disabled>Training.gov.au</a>
                    <a href="#" class="dropdown-item border-top" disabled>Grading Schemes</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="btn1">
                    <i class="fa-solid fa-user-secret"></i> Students
                </a>
                <div class="dropdown-menu mt-2" id="dropdown">
                    <a href="{{ path('displayAllStudents') }}" class="dropdown-item">Student Index</a>
                    <a href="{{ path('new_student') }}" class="dropdown-item">New Student</a>
                    <a href="#" class="dropdown-item" disabled>Merge Students</a>
                    <a href="#" class="dropdown-item border" disabled>Form Submissions</a>
                    <a href="#" class="dropdown-item" disabled>Contacts</a>
                    <a href="#" class="dropdown-item" disabled>Organizations</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="btn1">
                    <i class="fa-solid fa-user-group"></i> Cohorts
                </a>
                <div class="dropdown-menu mt-2" id="dropdown">
                    <a href="#" class="dropdown-item">Intake Index</a>
                    <a href="#" class="dropdown-item">New Intake</a>
                    <a href="#" class="dropdown-item">Clone Intake</a>
                    <a href="#" class="dropdown-item border-top">Class Index</a>
                    <a href="#" class="dropdown-item">New Class</a>

                </div>
            </div>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="btn1">
                    <i class="fa-solid fa-graduation-cap"></i> Enrolments
                </a>
                <div class="dropdown-menu mt-2" id="dropdown">
                    <a href="#" class="dropdown-item">Enrolment Index</a>
                    <a href="#" class="dropdown-item">Enrol Students</a>
                    <a href="#" class="dropdown-item border">Marking</a>
                    <a href="#" class="dropdown-item">Price Books</a>
                    <a href="#" class="dropdown-item">Invoices</a>

                </div>
            </div>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="btn1">
                    <i class="fa-solid fa-chart-line"></i> Reports
                </a>
                <div class="dropdown-menu mt-2" id="dropdown">
                    <a href="#" class="dropdown-item">Enrolment Index</a>
                    <a href="#" class="dropdown-item">Enrol Students</a>
                    <a href="#" class="dropdown-item border-top border-bottom">Marking</a>
                    <a href="#" class="dropdown-item">Price Books</a>
                    <a href="#" class="dropdown-item">Invoices</a>
                    <a href="{{ path('app_chart') }}" class="dropdown-item">Charts</a>

                </div>
            </div>
            <a href="{{ path('app_chart') }}" class="text-decoration-none" id="dashboard"><i class="fa-solid fa-ghost"></i> Dashboard</a>
        </div>

        <div id="right-side-header" class="me-3 mt-3 d-flex flex-row">
            <input type="search" class="border-none" placeholder="Search Students...">
            <a href="#" class="me-3 right-side-nav-icons"><i class="fa-solid fa-sun" style="color: #ffaa01;"></i></a>
            <a href="#" class="me-3 right-side-nav-icons"><i class="fa-solid fa-globe" style="color: var(--header-text-color);"></i></a>
            <a href="#" class="me-3 right-side-nav-icons" data-bs-toggle="offcanvas" data-bs-target="#menuOffcanvas"><i class="fa-solid fa-gear" style="color: var(--header-text-color);"></i></a>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="menuOffcanvas">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="list-group list-group-flush" style="width: 90%; font-size: 14px; font-family: Poppins, serif;">
                        <a href="#" class="list-group-item border-0">Account</a>
                        <a href="#" class="list-group-item border-0">Campus Index</a>
                        <hr class="my-2">
                        <a href="#" class="list-group-item border-0">Communication</a>
                        <a href="#" class="list-group-item border-0">Timetable/Attendance</a>
                        <a href="#" class="list-group-item border-0">Lookup Data</a>
                        <a href="#" class="list-group-item border-0">Custom Fields</a>
                        <a href="#" class="list-group-item border-0">Tag Manager</a>
                        <a href="#" class="list-group-item border-0">Validation Manager</a>
                        <a href="#" class="list-group-item border-0">Form Manager</a>
                        <a href="#" class="list-group-item border-0">Integrations</a>
                        <a href="#" class="list-group-item border-0">Scheduler</a>
                        <a href="#" class="list-group-item border-0">Compliance</a>
                        <hr class="my-2">
                        <a href="#" class="list-group-item border-0">System Users</a>
                        {% if is_granted('ROLE_REGISTRAR') %}
                        <a href="{{ path('admin_users_list') }}" class="list-group-item border-0">Roles and Permissions</a>
                        {% endif %}
                        <hr class="my-2">
                        <a href="#" class="list-group-item border-0">API</a>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" id="btn2">
                    <i class="fa-solid fa-user-ninja" id="ninja-icon"></i>  Silvestre
                </a>
                <div class="dropdown-menu mt-2" id="dropdown">
                    <a href="#" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item">My Calendar</a>
                    <a href="#" class="dropdown-item">Password/Security</a>
                    <a href="#" class="dropdown-item">User Manual</a>
                    <a href="#" class="dropdown-item">Support</a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="ms-auto me-3 mt-2" id="login-signup-links-header">
                <a href="{{ path('app_login') }}" class="text-decoration-none me-3" style="color: var(--header-text-color);">Login</a>
                <a href="{{ path('sign-up') }}" class="text-decoration-none" style="color: var(--header-text-color);">Sign Up</a>
            </div>
        {% endif %}
    </nav>
</div>
