<div class="card mb-2" style="width: 48%;">
    <div class="card-header">Payment by Status</div>
    <div class="card-body">
        <div class="d-flex flex-row justify-content-between mt-3" style="width: 80%; height: 50%;">
            <a href="#" class="text-decoration-none invoice-card-span">
            <span class="d-flex flex-column">
                <i class="fa-solid fa-pencil text-center fa-2x mt-1" style="color: var(--selma-blue);"></i>
                <p class="text-center" style="color: var(--header-text-color)">
                    Drafts ({{ paymentStatus['Draft'] }})
                </p>
            </span>
            </a>

            <a href="#" class="text-decoration-none invoice-card-span">
                <span class="d-flex flex-column">
                <i class="fa-solid fa-file-invoice text-center fa-2x mt-1" style="color: lightgreen;"></i>
                <p class="text-center" style="color: var(--header-text-color)">
                    Invoiced ({{ paymentStatus['Invoiced'] }})
                </p>
            </span>
            </a>

            <a href="#" class="text-decoration-none invoice-card-span">
            <span class="d-flex flex-column">
                <i class="fa-solid fa-circle-exclamation fa-2x text-danger text-center mt-1"></i>
                <p class="text-center" style="color: var(--header-text-color)">
                    Overdue ({{ paymentStatus['Overdue'] }})
                </p>
            </span>
            </a>
        </div>
        <div class="d-flex flex-column invoice-info-div" style="height: 40%; font-size: 12px;">
            <p><strong>Students:</strong> {{ students|length }}</p>
            <p><strong style="color: var(--selma-blue)">Drafts:</strong> {{ paymentStatus['Draft'] }}</p>
            <p><strong style="color: lightgreen;">Invoiced:</strong> {{ paymentStatus['Invoiced'] }}</p>
            <p><strong class="text-danger">Overdue:</strong> {{ paymentStatus['Overdue'] }}</p>
        </div>
    </div>
    <div class="card-footer">
        See more invoice information <a href="#" class="link-txt-color text-decoration-none">here</a>
    </div>
</div>
