{# templates/login/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {% include '/_partials/_header.html.twig' %}

    <div class="card w-75 mx-auto">
        <h5 class="card-header">Sign in</h5>
        <div class="card-body">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>

                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg" style="background-color: var(--selma-blue); color: #fff;" type="submit">
                    Sign in
                </button>
            </form>
        </div>
        <div class="card-footer">Don't have an account? Sign up <a href="{{ path('sign-up') }}">here</a> | Never give your password out to anybody</div>
    </div>

{% endblock %}