{% extends 'base.html.twig' %}

{% block title %}Sign Up | Silvestre Project{% endblock %}

{% block body %}

    {% include '/_partials/_header.html.twig' %}
    <div class="main-container w-100 d-flex justify-content-center" style="height: 92vh;">
        <div class="d-flex flex-wrap justify-content-between mx-auto" style="width: 70%">
            <div class="card w-100 mx-auto align-self-center">
                <div class="card-header">Create an Account</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <div id="email-signup">
                                {{ form_label(form.email, null, { 'attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control mb-3'}}) }}
                                {{ form_errors(form.email) }}
                            </div>

                            <div>
                                {{ form_label(form.password.first, null, { 'attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.password.first, { 'attr': {'class': 'form-control mb-3'}}) }}
                                {{ form_errors(form.password.first) }}
                            </div>

                            <div>
                                {{ form_label(form.password.second, null, { 'attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.password.second, { 'attr': {'class': 'form-control mb-3'}}) }}
                                {{ form_errors(form.password.second) }}
                            </div>
                            <div>
                                {{ form_row(form.submit, {'attr': {'class': 'btn', 'style': 'background-color: var(--selma-blue); color: white;'}}) }}
                                {{ form_rest(form) }}
                            </div>
                    </div>
                    </div>
                    <div class="card-footer">Already have an account? <a href="{{ path('app_login') }}">Log in</a></div>
                </div>
            </div>
        </div>

{% include '/_partials/_footer.html.twig' %}
{% endblock %}